* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
}

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: green;
    padding: 0.5rem 1rem;
    z-index: 1;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand img {
    height: 1.2rem;
}

.main-header__brand a {
    color: black;
}

.main-header__brand a:hover {
    color: white;
}

.main-nav {
    display: inline-block;
    width: calc(100% - 80px);
    text-align: right;
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 1rem;
}

.main-nav a {
    color: purple;
    text-decoration: none;
    font-weight: bold;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 2px solid;
}

.main-nav__item--cta a {
    color: white;
    background: hotpink;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: hotpink;
    background: white;
    border: none;
}

.main-footer {
    background: black;
    padding: 2rem;
    margin-top: 3rem;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 1rem;
}

.main-footer__link a {
    color: white;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: lightgray;
}
.button {
    border: none;
    border-radius: 2px;
    padding: 1rem 1.2rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #23570f;
    box-shadow: 0 0 4px #999;
    outline: none;
}
.button:hover,
.button:active {
    color: 23570f;
    background: white;
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
}
.ripple:hover {
    background: #2e6e15 radial-gradient(circle, transparent 1%, #16f559 1%)
        center/15000%;
}
.ripple:active {
    background-color: #23570f;
    background-size: 100%;
    transition: background 0s;
}

/* float is great for in text elements to make the text move around the image
clear: both; will sove the issyer in  */

/* relative is based on its position to the where it lies by default in its
parent element */

/* overflow hidden will hide any elements outside of there parent element 
*/

/* absolute elements include the padding when it comes to percentages */

/* border box sizing includes padding */

/* fixed positioning is relative to the view port */

/* em units multiply as they move through the page flow  */

/* rem does not compound like em but is based on the browser 
standard of 16px Primary thing is that it makes the page dynamic  */

/* vw in the sizing width and heigh component cause scroll bars to appear a 
plan percentage will eliminate this issue */
